/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/*** ini adalah css reset dari: https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/ ***/
/*** tidak boleh dihapus ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/*kode css mulai dari baris ini */
body {
  width: 100vw;
}

/* ini kode untuk navbar */
nav {
  padding: 2px;
  border: 1px solid;
  background-color: burlywood;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
/* navigasi kiri */
li .kiri {
  background-color: whitesmoke;
  margin-left: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: left;
  display: inline;
}

/* navigasi kanan */
li .kanan {
  background-color: yellow;
  margin-right: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: right;
  display: block;
}