/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/*** ini adalah css reset dari: https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/ ***/
/*** tidak boleh dihapus ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/*kode css mulai dari baris ini */
body {
  margin: auto;
  width: 800px;
}

/* ini kode untuk navbar */
nav {
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 5px;
  border: 1px solid red;
  background-color: rgb(247, 164, 55);
}
ul {
  list-style-type: none;
  overflow: hidden;
}
/* navigasi kiri */
li .kiri {
  background-color: whitesmoke;
  margin-left: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: left;
  display: inline;
}

/* navigasi kanan */
li .kanan {
  background-color: yellow;
  margin-right: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: right;
  display: block;
}
/*style untuk konten*/

.pembuka1 {
  border: 1px solid black;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.pembuka1 h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.pembuka1 h1 span {
  color: royalblue;
}

.gambar-beranda {
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  width: 100%;
}
.overlay {
  font-size: 20px;
  text-justify: auto;
  text-align: center;
}
.p1 span {
  color: green;
  font-size: 130%;
}
.p2 span {
  color: blue;
  font-size: 150%;
}
.image {
  margin: auto;
  width: auto;
  padding: 5px;
}
.overlay {
  margin: auto;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(247, 164, 55);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .9s ease;
}
.gambar-beranda:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  white-space: nowrap; 
  color: white;
  font-size: 22px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* -------------------------------------------------------- */