/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/*** ini adalah css reset dari: https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/ ***/
/*** tidak boleh dihapus ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/* -------------------------------------kode css mulai dari baris ini------------------------------------- */
/* dimensi website */
body {
  margin: auto;
  width: 800px;
}

/* ini kode untuk navbar */
nav {
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 5px;
  background-color: #4d3228;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
/* navigasi kiri */
li .kiri {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin-left: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: left;
  display: inline;
  border-radius: 12px;
}

/* navigasi kanan */
li .kanan {
  border: 3px solid whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fdd227;
  margin-right: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;;
  float: right;
  display: inline;
  border-radius: 12px;
}

/* kalo diarahkan mouse, warna button berubah orenje*/
li .kanan:hover {
  background-color: rgb(247, 164, 55);
}
/* -------------------------------------style untuk konten------------------------------------- */

/* kontener gambar */
.gambar-beranda {
  margin: auto;
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #5e5e5d;
}

/* teks muncul ditengah kalo mouse ngarah kesini */
.overlay {
  font-size: 20px;
  text-justify: auto;
  text-align: center;
}


.p1 span {
  color: green;
  font-size: 130%;
}
.p2 span {
  color: blue;
  font-size: 150%;
}

/* teks selamat datang warna transparan */
.center {
  display: block;
  margin: auto;
  position: absolute;
  top: 20%;
  width: 97%;
  text-align: center;
  background-color: black;
  opacity: 0.3;
  border-radius: 12px;
}
.center h1 {
  color: white;
  font-size: 50px;
}

/*gambar meong anyink biar transparan dan jadi background */
.image {
  margin: auto;
  width: auto;
  padding: 5px;
  opacity: 0.4;
}

/* ini background tulisan orenje kalo di mouse hover keluar ini */
.overlay {
  margin: auto;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(247, 164, 55);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .9s ease;
}
/* ini background tulisan orenje kalo di mouse hover keluar ini */
.gambar-beranda:hover .overlay {
  bottom: 0;
  height: 100%;
}
/* ini background tulisan orenje kalo di mouse hover keluar ini */
.text {
  white-space: nowrap; 
  color: white;
  font-size: 22px;
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* -------------------------------------------------------- */
/* footer */
footer {
  width: 100%;
  background-color: #4d3228;
  text-align: right;
  margin:auto;
  padding: 20px 15px 5px 0px;
  color: whitesmoke;
}
footer h3 a:hover {
  color: #fdd227;
}